amoc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified" version="1.7.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:hfp="http://www.w3.org/2001/XMLSchema-hasFacetAndProperty">
  <xsd:annotation>
    <xsd:documentation>Filename : amoc.xsd Organisation : Australian Bureau of
    Meteorology Date : 31/10/2016 Description : AMOC - Australian
    Meteorological and Oceanographic Code</xsd:documentation>
  </xsd:annotation>

  <xsd:element name="amoc" type="amocType"/>

  <xsd:complexType name="amocType">
    <xsd:annotation>
      <xsd:documentation>This is the root element that is used to identify the
      XML data as AMOC XML.</xsd:documentation>

      <xsd:documentation>This tag allows the AMOC metadata to be easily
      identified when it is embedded within a product formatted as XML or
      HTML.</xsd:documentation>
    </xsd:annotation>

    <xsd:sequence>
      <xsd:element name="source" type="sourceType"/>

      <xsd:element name="identifier" type="identifierType"/>

      <xsd:element name="issue-time-utc" type="timestampType"/>

      <xsd:element name="issue-time-local" type="timestampType"/>

      <xsd:element minOccurs="1" name="sent-time" type="xsd:dateTime"/>

      <xsd:element minOccurs="0" name="expiry-time" type="xsd:dateTime"/>

      <xsd:element minOccurs="0" name="validity-bgn-time-local" type="timestampType"/>

      <xsd:element minOccurs="0" name="validity-end-time-local" type="timestampType"/>

      <xsd:element minOccurs="0" name="next-routine-issue-time-utc" type="timestampType"/>

      <xsd:element minOccurs="0" name="next-routine-issue-time-local" type="timestampType"/>

      <xsd:element name="status" type="statusType"/>

      <xsd:element name="service" type="serviceType"/>

      <xsd:element minOccurs="0" name="sub-service" type="sub-serviceType"/>

      <xsd:element name="product-type" type="product-typeType"/>

      <xsd:element name="phase" type="phaseType"/>

      <xsd:element maxOccurs="unbounded" minOccurs="0" name="hazard" type="hazardType"/>
                   
      <xsd:element minOccurs="0" name="incident-id" type="xsd:string"/>
    </xsd:sequence>

    <xsd:attribute default="1.3" name="version" type="xsd:string"/>
  </xsd:complexType>

  <xsd:complexType name="timestampType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:dateTime">
        <xsd:attribute name="tz" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="sourceType">
    <xsd:annotation>
      <xsd:documentation>This tag groups together a set of source metadata
      attributes. These attributes identify who sent the product, from which
      office the product was sent and copyright and disclaimer
      information.</xsd:documentation>
    </xsd:annotation>

    <xsd:sequence>
      <xsd:element name="sender" type="xsd:string"/>

      <xsd:element maxOccurs="1" minOccurs="0" name="region" type="xsd:string"/>

      <xsd:element name="office" type="xsd:string"/>

      <xsd:element name="copyright" type="xsd:anyURI">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Copyright message regarding the
          product.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="disclaimer" type="xsd:anyURI">
        <xsd:annotation>
          <xsd:documentation>Disclaimer message regarding the
          product.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element minOccurs="0" name="description" type="xsd:anyURI">
        <xsd:annotation>
          <xsd:documentation>URL of description of the
          product.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="identifierType">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

  <xsd:simpleType name="statusType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Describes the status of the product.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:restriction base="xsd:string">
    	<xsd:minLength value="1"/>
    	<xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="serviceType">
    <xsd:restriction base="xsd:string">
    	<xsd:minLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="sub-serviceType">

    <xsd:restriction base="xsd:string">
    	<xsd:minLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="product-typeType">
    <xsd:annotation>
      <xsd:documentation>Describes the product type.</xsd:documentation>
    </xsd:annotation>

    <xsd:restriction base="xsd:string">
    	<xsd:minLength value="1"/>
    	<xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="hazard-typeType">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>

  <xsd:simpleType name="severityType">
    <xsd:restriction base="xsd:string">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="urgencyType">
    <xsd:restriction base="xsd:string">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="certaintyType">
    <xsd:restriction base="xsd:string">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="periodicHazardType">
    <xsd:sequence>
      <xsd:element name="area-list" type="area-listType"/>

      <xsd:element minOccurs="0" name="phenomenon-list" type="phenomenon-listType"/>

      <xsd:element minOccurs="0" name="priority" type="priorityType"/>

      <xsd:element minOccurs="0" name="headline" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>A short description of the hazard. This could be
          automatically generated from the hazards area, type, severity and
          phenomena information.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element maxOccurs="unbounded" minOccurs="0" name="text">
        <xsd:complexType mixed="true">
          <xsd:sequence minOccurs="0">
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="p" type="xsd:string"/>
          </xsd:sequence>

          <xsd:attribute name="type" type="xsd:string" use="required"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>

    <xsd:attribute name="index" type="xsd:int" use="required"/>

    <xsd:attribute name="type" type="hazard-typeType" use="required"/>

    <xsd:attribute name="severity" type="severityType" use="required"/>

    <xsd:attribute name="urgency" type="urgencyType" use="optional"/>

    <xsd:attribute name="certainty" type="certaintyType" use="optional"/>

    <xsd:attribute name="phase" type="phaseType" use="optional"/>

    <xsd:attribute name="parent-aac" type="aacType" use="optional"/>

  </xsd:complexType>

  <xsd:complexType name="hazardType">
    <xsd:complexContent>
      <xsd:extension base="periodicHazardType">
        <xsd:attribute name="start-time-utc" type="xsd:dateTime" use="required"/>

        <xsd:attribute name="start-time-local" type="xsd:dateTime" use="optional"/>

        <xsd:attribute name="end-time-utc" type="xsd:dateTime" use="required"/>

        <xsd:attribute name="end-time-local" type="xsd:dateTime" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="area-listType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="area">
        <xsd:complexType>
          <xsd:attribute name="aac" type="aacType" use="required"/>

          <xsd:attribute name="phase" type="phaseType" use="required"/>

          <xsd:attribute name="description" type="xsd:string" use="optional"/>

          <xsd:attribute name="type" type="xsd:string" use="optional"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="aacType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z]{2,3}_[A-Z]{2}[0-9]{3,4}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="phaseType">
    <xsd:annotation>
      <xsd:documentation>A three letter code describes the update phase
      associated with the product (c.f. hazard phase). This code is normally
      associated with a warning product to indicate the overall update phase
      of all the hazards within the product. For other product types this
      would usually default to "NEW" except for updates to forecasts, which
      would be labeled as "UPD".</xsd:documentation>

      <xsd:documentation>NEW - New event, e.g. initial warning in the
      specified area</xsd:documentation>

      <xsd:documentation>REN - Renewal of a hazard: This is used when a hazard
      is reissued without change to its status, i.e. the same severity and
      phenomena are being specified as in the previous
      issue.</xsd:documentation>

      <xsd:documentation>UPD - Update of an event, DGD - Downgrade of an
      event, UGD - Upgrade of an event, FIN - Final event, CAN - Cancellation
      of an event</xsd:documentation>
    </xsd:annotation>

    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="NEW"/>
      <xsd:enumeration value="REN"/>
      <xsd:enumeration value="UPD"/>
      <xsd:enumeration value="DGD"/>
      <xsd:enumeration value="UGD"/>
      <xsd:enumeration value="FIN"/>
      <xsd:enumeration value="CAN"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="phenomenon-listType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="phenomenon">
        <xsd:complexType>
          <xsd:attribute name="type" type="phenomenonType" use="required"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="phenomenonType">

    <xsd:restriction base="xsd:string">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="priorityType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Priority is a single letter code
      describing the priority or urgency of the hazard.</xsd:documentation>
    </xsd:annotation>

    <xsd:restriction base="xsd:string">
   	  <xsd:minLength value="1"/>
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>